In [1]:
!ls -lh /home/glentner/public/datasets/noaa/gsod*

-rw-r--r-- 1 glentner itap  76G Mar 21 21:16 /home/glentner/public/datasets/noaa/gsod.obs.csv
-rw-r--r-- 1 glentner itap 2.1M Mar 22 10:52 /home/glentner/public/datasets/noaa/gsod.stn.csv

In [2]:
!head /home/glentner/public/datasets/noaa/gsod*

==> /home/glentner/public/datasets/noaa/gsod.obs.csv <==
station_id,wban_id,datetime,measure_id,measure_value,measure_ref
33790,99999,1929/08/01,0001,57.5,4
37770,99999,1929/08/01,0017,0.0,0
37770,99999,1929/08/01,0014,1.0,0
37770,99999,1929/08/01,0011,99.99,0
37950,99999,1929/08/01,0007,23.9,0
33790,99999,1929/08/01,0015,0.0,0
37770,99999,1929/08/01,0010,57.0,0
34970,99999,1929/08/01,0006,14.0,5
37950,99999,1929/08/01,0006,17.2,4

==> /home/glentner/public/datasets/noaa/gsod.stn.csv <==
station_id,wban_id,station_name,country,state,call_name,latitude,longitude,elevation,date_start,date_end
007018,99999,WXPOD 7018                   ,,,,0.0,0.0,+7018.0,20110309,20130730
007026,99999,WXPOD 7026                   ,AF,,,0.0,0.0,+7026.0,20120713,20170822
007070,99999,WXPOD 7070                   ,AF,,,0.0,0.0,+7070.0,20140923,20150926
008268,99999,WXPOD8278                    ,AF,,,32.95,65.567,+1156.7,20100519,20120323
008307,99999,WXPOD 8318                   ,AF,,,0.0,0.0,+8318.0,20100421,20100421
010016,99999,RORVIK/RYUM,NO,,,64.85,11.233,+0014.0,19870116,19910806
010017,99999,FRIGG,NO,,ENFR,59.98,2.25,+0048.0,19880320,20050228
010071,99999,LONGYEARBYEN,SV,,,78.217,15.583,+0037.0,20050210,20050210
010190,99999,SVARTTANGEN,NO,,,77.517,20.817,+0020.0,20100825,20140523

In [5]:
import csv

In [6]:
IN_data = []
IN_stationIds = []

with open("/home/glentner/public/datasets/noaa/gsod.stn.csv", 'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    for row in csv_reader:
        if line_count == 0:
            print "columns are: " + ", ".join(row)
            line_count += 1
        else:
            if row[4] == "IN":
                IN_data.append(row)
                if row[0] not in IN_stationIds:
                    IN_stationIds.append(row[0])
                
print len(IN_data)
print IN_stationIds

columns are: station_id, wban_id, station_name, country, state, call_name, latitude, longitude, elevation, date_start, date_end
80
['692644', '720543', '720575', '720593', '720736', '720815', '720903', '720961', '721029', '724325', '724360', '724361', '724370', '724371', '724373', '725334', '726358', '744214', '744660', '744680', '749015', '749074', '749076', '999999', '724388', '724363', '720266', '724356', '724365', '724375', '724384', '724385', '724387', '725327', '725335', '725336', '725337', '725354', '997339', '997787', '724320', '724380', '724386', '725330', '725350']

In [22]:
station_data = []

with open("data/gsod.obs.csv", 'r') as csv_obs_file:
    count = 0
    multiplier = 0
    for line in csv_obs_file:
        stat_id = line.index(",")
        substr = line[:stat_id]
        if substr in IN_stationIds:
            station_data.append(line)
        count += 1
        if count > 10000000:
            percent = (multiplier * 1e7 + count) / 2291730018.0
            print '\r', len(station_data), percent
            count = 0
            multiplier += 1
        
print len(station_data)

61626 0.00436351617401
653321 0.00872703191166
3431868 0.0130905476493
6569921 0.017454063387
10794841 0.0218175791246
14483056 0.0261810948623
17910230 0.0305446105999
20840514 0.0349081263376
23162021 0.0392716420752
25537378 0.0436351578129
26786375 0.0479986735506
28291658 0.0523621892882
30507110 0.0567257050259
32894978 0.0610892207635
33691153 0.0654527365012
35332359 0.0698162522388
37298967 0.0741797679765
39604593 0.0785432837141
39963253 0.0829067994518
42185590 0.0872703151895
44102407 0.0916338309271
46335362 0.0959973466648
48533230 0.100360862402
51161335 0.10472437814
52943226 0.109087893878
55056750 0.113451409615
56703747 0.117814925353
59457380 0.122178441091
61151220 0.126541956828
61212168 0.130905472566
61324651 0.135268988304
61341717 0.139632504041
61369520 0.143996019779
61476461 0.148359535517
61525801 0.152723051254
61535623 0.157086566992
61616130 0.16145008273
61673907 0.165813598467
61683783 0.170177114205
61730470 0.174540629943
61808045 0.17890414568
61819526 0.183267661418
61838171 0.187631177156
61891759 0.191994692893
61916532 0.196358208631
61934909 0.200721724368
61969963 0.205085240106
62019742 0.209448755844
62024356 0.213812271581
62047541 0.218175787319
62095507 0.222539303057
62123982 0.226902818794
62131782 0.231266334532
62169801 0.23562985027
62215424 0.239993366007
62219184 0.244356881745
62240087 0.248720397483
62289736 0.25308391322
62320881 0.257447428958
62332956 0.261810944696
62387315 0.266174460433
62420332 0.270537976171
62428656 0.274901491909
62450584 0.279265007646
62522404 0.283628523384
62531761 0.287992039122
62533573 0.292355554859
62573651 0.296719070597
62612390 0.301082586335
62637209 0.305446102072
62658168 0.30980961781
62688910 0.314173133548
62700513 0.318536649285
62726315 0.322900165023
62751836 0.32726368076
62771299 0.331627196498
62786154 0.335990712236
62815917 0.340354227973
62845992 0.344717743711
62867742 0.349081259449
62905323 0.353444775186
62923771 0.357808290924
62948309 0.362171806662
62961172 0.366535322399
62964305 0.370898838137
63003182 0.375262353875
63027181 0.379625869612
63035470 0.38398938535
63049627 0.388352901088
63075668 0.392716416825
63100780 0.397079932563
63107310 0.401443448301
63125935 0.405806964038
63146368 0.410170479776
63172171 0.414533995514
63187702 0.418897511251
63201994 0.423261026989
63218734 0.427624542727
63258828 0.431988058464
63270330 0.436351574202
63287121 0.44071508994
63311820 0.445078605677
63348117 0.449442121415
63363406 0.453805637152
63377709 0.45816915289
63405858 0.462532668628
63440768 0.466896184365
63458671 0.471259700103
63470506 0.475623215841
63499414 0.479986731578
63526925 0.484350247316
63537464 0.488713763054
63556241 0.493077278791
63591266 0.497440794529
63610160 0.501804310267
63628219 0.506167826004
63636994 0.510531341742
63680615 0.51489485748
63692202 0.519258373217
63712348 0.523621888955
63722931 0.527985404693
63774708 0.53234892043
63793661 0.536712436168
63816877 0.541075951906
63828512 0.545439467643
63879877 0.549802983381
63902882 0.554166499119
63917662 0.558530014856
63934513 0.562893530594
63971807 0.567257046332
63975260 0.571620562069
64006847 0.575984077807
64041737 0.580347593545
64139210 0.584711109282
64140002 0.58907462502
64159871 0.593438140757
64191981 0.597801656495
64290353 0.602165172233
64401597 0.60652868797
64417097 0.610892203708
64429908 0.615255719446
64489841 0.619619235183
64749590 0.623982750921
64754799 0.628346266659
64780918 0.632709782396
64817742 0.637073298134
65029444 0.641436813872
65307417 0.645800329609
65496742 0.650163845347
65901060 0.654527361085
67194006 0.658890876822
70100519 0.66325439256
70377830 0.667617908298
70386582 0.671981424035
70445097 0.676344939773
70490917 0.680708455511
70621276 0.685071971248
70850592 0.689435486986
70965515 0.693799002724
71000761 0.698162518461
71080204 0.702526034199
71117022 0.706889549937
71650733 0.711253065674
71676802 0.715616581412
71690090 0.719980097149
71732527 0.724343612887
71780108 0.728707128625
72322211 0.733070644362
72366988 0.7374341601
72368236 0.741797675838
72393638 0.746161191575
72473902 0.750524707313
73146625 0.754888223051
73189397 0.759251738788
73211182 0.763615254526
73227817 0.767978770264
73271560 0.772342286001
73337997 0.776705801739
73754614 0.781069317477
74162988 0.785432833214
74173600 0.789796348952
74207247 0.79415986469
74254734 0.798523380427
74330412 0.802886896165
75124835 0.807250411903
75184239 0.81161392764
75186648 0.815977443378
75206707 0.820340959116
75271564 0.824704474853
75346262 0.829067990591
75982184 0.833431506329
76244077 0.837795022066
76296829 0.842158537804
76318501 0.846522053541
76346368 0.850885569279
76394240 0.855249085017
76618669 0.859612600754
76849828 0.863976116492
76894905 0.86833963223
77218562 0.872703147967
77626061 0.877066663705
77835746 0.881430179443
78449999 0.88579369518
78814011 0.890157210918
79008564 0.894520726656
79251375 0.898884242393
79655001 0.903247758131
80145553 0.907611273869
80980522 0.911974789606
81310330 0.916338305344
81554005 0.920701821082
81722543 0.925065336819
82031466 0.929428852557
82086536 0.933792368295
82696895 0.938155884032
84106181 0.94251939977
85024485 0.946882915508
85740094 0.951246431245
85883113 0.955609946983
85960956 0.959973462721
86040671 0.964336978458
86105717 0.968700494196
86775766 0.973064009933
87026846 0.977427525671
87046811 0.981791041409
87055321 0.986154557146
87124962 0.990518072884
87168397 0.994881588622
87193422 0.999245104359
87349168

---

In [23]:
with open('data/us-in.csv', mode='w') as output:
    for line in station_data:
        if line[:6] != '999999':
            output.write(line)

In [25]:
import numpy as np
import pandas as pd

In [102]:
data_points = []

with open('data/us-in.csv', mode = 'r') as IN_file:
    
    for line in IN_file:
        data_points.append(line.split(","))
    
        
print data_points[0]
        
#pd.DataFrame(data_points, point)

['749076', '99999', '1941/11/08', '0014', '0.0', '0\n']

In [106]:
headers = ["station_id", "wban_id", "datetime", "measure_id", "measure_value", "measure_ref"]
location_headers = ["station_id", "wban_id", "station_name", "country", "state", "call name", "lattitude", "longitude", 
                    "elevation", "date_start", "date_end"]

In [107]:
IN_panda = pd.DataFrame(data_points, columns = headers)
IN_panda_location = pd.DataFrame(IN_data, columns = location_headers)

In [95]:
print IN_panda_location

   station_id wban_id                   station_name country state call name  \
0      692644   99999           MUSCATATUCK TRNG CTR      US    IN      KQMT
1      720543   99999            AUBURN / DE KALB CO      US    IN      KGWB
2      720575   99999         INDIANAPOLIS EXECUTIVE      US    IN      KTYQ
3      720593   99999                 KNOX/STARKE CO      US    IN      KOXI
4      720736   99999                      FULTON CO      US    IN      KRCR
5      720815   99999                      PUTNAM CO      US    IN     K4I7
6      720903   99999                     DAVIESS CO      US    IN      KDCY
7      720961   99999             LOGANSPORT CASS CO      US    IN      KGGP
8      721029   99999                  LA PORTE MUNI      US    IN      KPPO
9      724325   99999                        RACEWAY      US    IN
10     724360   13803               COLUMBUS BAKALAR      US    IN      KBAK
11     724361   13803               COLUMBUS BAKALAR      US    IN      KBAK
12     724370   93823  TERRE HAUTE HULMAN REGIONAL A      US    IN       HUF
13     724370   99999  TERRE HAUTE HULMAN REGIONAL A      US    IN       HUF
14     724371   93823  TERRE HAUTE HULMAN REGIONAL A      US    IN
15     724373   93823            TERRE HAUTE INTL HU      US    IN      KHUF
16     725334   99999  PERU/GRISSOM RWY 23                US    IN
17     726358   99999  MICHIGAN CITY MUNICIPAL AIRPO      US    IN      KMGC
18     744214   99999                    MARION MUNI      US    IN      KMZZ
19     744660   99999  WOLCOTT  IN.                       US    IN      KRZL
20     744680   99999  JEFFERSON PROVING GROUND MADI      US    IN
21     749015   99999                  RICHMOND MUNI      US    IN
22     749074   99999                   FREEMAN MUNI      US    IN
23     749076   99999                    MADISON AAF      US    IN
24     999999   14829            GOSHEN MUNICIPAL AP      US    IN      KGSH
25     999999   14835  WEST LAFAYETTE PURDUE UNIV AP      US    IN      KLAF
26     999999   93823       TERRE HAUTE HULMAN FIELD      US    IN      KHUF
27     999999   14827                FORT WAYNE CITY      US    IN      KFWA
28     999999   14848   SOUTH BEND ST JOSEPH CO ARPT      US    IN      KSBN
29     999999   93817  EVANSVILLE DRESS REGIONAL ARP      US    IN      KEVV
..        ...     ...                            ...     ...   ...       ...
50     720266   54809       WARSAW MUNICIPAL AIRPORT      US    IN      KASW
51     720543   00167         DE KALB COUNTY AIRPORT      US    IN      KGWB
52     720593   00187          STARKE COUNTY AIRPORT      US    IN      KOXI
53     720736   00265          FULTON COUNTY AIRPORT      US    IN      KRCR
54     720903   00441         DAVIESS COUNTY AIRPORT      US    IN      KDCY
55     720961   00336  LOGANSPORT CASS COUNTY AIRPOR      US    IN      KGGP
56     721029   00347     LA PORTE MUNICIPAL AIRPORT      US    IN      KPPO
57     724320   93817    EVANSVILLE REGIONAL AIRPORT      US    IN      KEVV
58     724363   13803     COLUMBUS MUNICIPAL AIRPORT      US    IN      KBAK
59     724365   53896            HUNTINGBURG AIRPORT      US    IN      KHNB
60     724373   03868     TER HUTE INTL-HULMAN FD AP      US    IN      KHUF
61     724375   03893          MONROE COUNTY AIRPORT      US    IN      KBMG
62     724380   93819  INDIANAPOLIS INTERNATIONAL AI      US    IN      KIND
63     724384   53842       EAGLE CREEK AIRPARK ARPT      US    IN      KEYE
64     724385   04828      ANRSN MUNI DRNGTON FLD AP      US    IN      KAID
65     724386   14835      PURDUE UNIVERSITY AIRPORT      US    IN      KLAF
66     724387   54807       KOKOMO MUNICIPAL AIRPORT      US    IN      KOKK
67     724388   14829       GOSHEN MUNICIPAL AIRPORT      US    IN      KGSH
68     725327   04846  PORTER COUNTY MUNICIPAL AIRPO      US    IN      KVPZ
69     725330   14827  FORT WAYNE INTERNATIONAL AIRP      US    IN      KFWA
70     725335   94833            GRISSOM AFB AIRPORT      US    IN      KGUS
71     725336   94895     DELAWARE CO-JOHNSON FD APT      US    IN      KMIE
72     725337   04807           GARY/CHICAGO AIRPORT      US    IN      KGYY
73     725354   04806      ELKHART MUNICIPAL AIRPORT      US    IN      KEKM
74     726358   00384  MICHIGAN CITY MUNICIPAL AIRPO      US    IN      KMGC
75     744214   94852            MARION MUNICIPAL AP      US    IN      KMZZ
76     744660   00388          JASPER COUNTY AIRPORT      US    IN      KRZL
77     720575   00173  INDIANAPOLIS EXECUTIVE AIRPOR      US    IN      KTYQ
78     724356   53866     SHELBYVILLE MINUCIPAL ARPT      US    IN      KGEZ
79     725350   14848    SOUTH BEND REGIONAL AIRPORT      US    IN      KSBN

   lattitude longitude elevation date_start  date_end
0      39.05   -85.617   +0247.0   19970724  19970724
1     41.307   -85.064   +0268.2   20080612  20180514
2     40.031   -86.251   +0281.0   20080721  20131231
3     41.333   -86.667   +0208.5   20081022  20180410
4     41.066   -86.182   +0240.8   20100701  20180515
5      39.63   -86.814   +0256.6   20140313  20170222
6       38.7    -87.13   +0144.2   20180101  20180515
7     40.711   -86.375   +0224.9   20180101  20180515
8     41.572   -86.735   +0247.5   20180101  20180109
9     38.049   -87.381   +0122.0   19860203  19890829
10    39.267     -85.9   +0199.9   19840816  19840823
11    39.267     -85.9   +0199.9   19430501  19900206
12     39.45     -87.3   +0175.3   19480101  19850531
13     39.45     -87.3   +0175.3   20011208  20030504
14     39.45     -87.3   +0175.3   19850531  19900206
15     39.45     -87.3   +0180.0   19900208  19991231
16     40.65    -86.15   +0247.0   19850414  19860410
17    41.703   -86.821   +0199.6   19770126  20180516
18     40.49    -85.68   +0261.8   19810805  20180516
19    40.817    -87.05   +0212.0   20180102  20180103
20    38.833   -85.417   +0265.0   19920221  19950531
21    39.767   -84.833   +0348.0   19471107  19520401
22    38.933   -85.917   +0176.0   19430118  19461031
23    38.833   -85.417   +0268.0   19411103  19450907
24    41.533   -85.783   +0252.1   19481201  19550101
25    40.412   -86.937   +0194.2   19481201  19550101
26     39.45     -87.3   +0017.5   19550101  19550101
27    40.971   -85.206   +0252.4   19650101  19721231
28    41.707   -86.316   +0235.6   19480101  19721231
29    38.044   -87.521   +0118.3   19480101  19721231
..       ...       ...       ...        ...       ...
50    41.275    -85.84   +0259.1   20060101  20190304
51      41.3   -85.067   +0268.2   20090101  20190304
52    41.333   -86.667   +0208.2   20090101  20190304
53    41.066   -86.182   +0241.1   20100607  20190304
54      38.7    -87.13   +0143.3   20130826  20190304
55    40.711   -86.375   +0225.3   20111028  20190304
56    41.572   -86.735   +0247.2   20120402  20190304
57    38.044   -87.521   +0121.9   19730101  20190304
58    39.267     -85.9   +0200.0   19900208  20190304
59    38.249   -86.954   +0161.2   20060101  20190304
60    39.452   -87.309   +0175.3   20050101  20190304
61    39.133   -86.617   +0257.3   20060101  20190304
62    39.725   -86.282   +0241.1   19421006  20190304
63    39.825   -86.296   +0250.9   20060101  20190304
64    40.117   -85.617   +0274.3   20060101  20190304
65    40.412   -86.937   +0182.6   19730101  20190304
66    40.528   -86.059   +0253.0   20060101  20190304
67    41.533   -85.783   +0253.0   19961002  20190304
68    41.453   -87.006   +0234.7   20060101  20190304
69    40.971   -85.206   +0241.1   19411101  20190304
70     40.65    -86.15   +0247.5   20060101  20190304
71    40.234   -85.394   +0285.6   20060101  20190304
72    41.617   -87.417   +0180.1   20060101  20190304
73    41.717   -85.983   +0237.1   20060102  20190304
74    41.703   -86.821   +0200.3   19960101  20190304
75    40.483   -85.683   +0263.0   20110215  20190304
76    40.817    -87.05   +0212.1   20110516  20190304
77    40.031   -86.251   +0281.0   20140101  20190305
78    39.578   -85.803   +0245.1   20060101  20190305
79    41.707   -86.316   +0235.6   19730101  20190305

[80 rows x 11 columns]

In [55]:
earliest_obs = min(IN_panda["datetime"])

IN_panda.loc[IN_panda["datetime"] == earliest_obs]

    station_id wban_id    datetime measure_id measure_value measure_ref
938     725330   14827  1941/11/01       0011         99.99         0\n
939     725330   14827  1941/11/01       0016           0.0         0\n
940     725330   14827  1941/11/01       0005          77.6        17\n
941     725330   14827  1941/11/01       0017           0.0         0\n
942     725330   14827  1941/11/01       0018           0.0         0\n
943     725330   14827  1941/11/01       0015           0.0         0\n
944     725330   14827  1941/11/01       0002          43.9        17\n
945     725330   14827  1941/11/01       0009          63.3         1\n
946     725330   14827  1941/11/01       0010          42.4         1\n
947     725330   14827  1941/11/01       0001          49.1        17\n
948     725330   14827  1941/11/01       0013           1.0         0\n
949     725330   14827  1941/11/01       0007          37.9         0\n
950     725330   14827  1941/11/01       0006          27.5        17\n
951     725330   14827  1941/11/01       0014           1.0         0\n

In [137]:
max_temp = IN_panda.loc[IN_panda["measure_id"] == '0009']
max_temp_value = max(max_temp["measure_value"].astype(float))
mean_temp_value = max_temp["measure_value"].astype(float).mean()
std_temp_value = max_temp["measure_value"].astype(float).std()
print max_temp_value
print mean_temp_value
print std_temp_value

max_temp_line = max_temp.loc[max_temp["measure_value"] == str(max_temp_value)]
max_temp_id = max_temp_line["station_id"].values[0]
print max_temp_id
max_temp_date = max_temp_line["datetime"].values[0]
print max_temp_date

127.4
62.557538109
20.4055852766
720266
2004/09/30

In [136]:
max_gust = IN_panda.loc[IN_panda["measure_id"] == '0008']
max_gust_value = max(max_gust["measure_value"].astype(float))
mean_gust_value = max_gust["measure_value"].astype(float).mean()
std_gust_value = max_gust["measure_value"].astype(float).std()

print max_gust_value
print mean_gust_value
print std_gust_value

max_gust_line = max_gust.loc[max_gust["measure_value"] == str(max_gust_value)]
max_gust_id = max_gust_line["station_id"].values[0]
print max_gust_id
max_gust_date = max_gust_line["datetime"].values[0]
print max_gust_date

85.5
23.1873374558
6.52195620671
725337
2014/02/21

In [135]:
max_prec = IN_panda.loc[IN_panda["measure_id"] == '0011']
max_prec_value = max(max_prec["measure_value"].astype(float))
mean_prec_value = max_prec["measure_value"].astype(float).mean()
std_prec_value = max_prec["measure_value"].astype(float).std()

print max_prec_value
print mean_prec_value
print std_prec_value

max_prec_line = max_prec.loc[max_prec["measure_value"] == str(max_prec_value)]
max_prec_id = max_prec_line["station_id"].values[0]
print max_prec_id
max_prec_date = max_prec_line["datetime"].values[0]
print max_prec_date

99.99
13.4808147527
34.056350015
749076
1941/11/08

In [133]:
IN_panda_location.loc[IN_panda_location["station_id"] == max_temp_id]
IN_panda_location.loc[IN_panda_location["station_id"] == max_gust_id]
IN_panda_location.loc[IN_panda_location["station_id"] == max_prec_id]

,station_id,wban_id,station_name,country,state,call name,lattitude,longitude,elevation,date_start,date_end
23,749076,99999,MADISON AAF,US,IN,,38.833,-85.417,+0268.0,19411103,19450907

In [180]:
import matplotlib.pyplot as plt

In [ ]:
years = []
temps = []
mean_temp = IN_panda.loc[IN_panda["measure_id"] == '0001']
dates= mean_temp["datetime"]

temperatures = mean_temp["measure_value"]
for i in dates:
    years.append(i[0:4])

for j in temperatures:
    temps.append(j)

print len(years)
print len(temperatures)
plt.plot(years, temperatures)
plt.show()

312647
312647